<div style="background-color:{{ shop.metaobjects['popup']['popup-nk2mmzzc'].popup_bg.value }}"id="container">
  <p id="title">{{ shop.metaobjects['popup']['popup-nk2mmzzc'].title.value }}</p>
  <p id="des">{{ shop.metaobjects['popup']['popup-nk2mmzzc'].des.value }}</p>
  <input
    type="email"
    id="text"
    required
    placeholder="Enter your email" />
  <button style="background-color: {{ shop.metaobjects['popup']['popup-nk2mmzzc'].btn_bg.value }}" id="button">{{ shop.metaobjects['popup']['popup-nk2mmzzc'].btn_text.value }}</button>

</div>
<button style="background-color: {{ shop.metaobjects['popup']['popup-nk2mmzzc'].btn_bg.value }}" id="btn">🎉 Refer</button>
<button id="closebtn">&times;</button>

<span></span>

{% schema %}
  {
    "name": "AppEmbed",
    "target": "body",
    "stylesheet": "btn.css",
    "javascript": "btn.js",
    "settings": [],
    "enabled_on": {
      "templates": ["index"]
    }
  }
{% endschema %}


<!-- "enabled_on": {
//  "templates": ["index"]
//  }-->